<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/055ce043-c676-4cf7-b74a-c378d568a1bc/resourceGroups/webstoryangularapi/providers/Microsoft.Web/sites/webstoryangularapi</ResourceId>
    <ResourceGroup>webstoryangularapi</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://webstoryangularapi.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://webstoryangularapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$webstoryangularapi</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>